{% extends "base.html" %}
{% block content %}

<p class='some-text'>EduPoint is a safe and useful web application which is 
highly interactive with the user. It can be used by anyone who is 
interested in taking paid tuition classes online. It can also be 
used as a part-time work by anyone. Also it is highly secure than 
ordinary log-in systems. It supports all modern log-in safety 
measures like password hashing, email verified password 
recovery, etc. moreover, the students can join the best 
classes by assessing the reviews and ratings of it, which is 
purely based on the performance of the teacher. </p>

{% endblock content %}