<!DOCTYPE HTML>
{% load static %}
<html>
<head><title>EduPoint</title></head>
	<link href="{% static "login.css" %}" rel="stylesheet" type="text/css">
	<body>{% if verified == "true" %}
    <h2 style="color:white">A recovery email has been sent to your e-mail id.</h2>

    {% else %}
   
        <form method="POST">{% csrf_token %}
            <div><p>Enter Username:</p><input type="text" name="username">
            <input id="sub" type="submit" value="Recover"> </div>
            <p id="error">{{error}}</p>
        </form>
         {% endif %}
    </body>